<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @code.title %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @code.domain %>
</p>

<p>
  <strong>Codeblock:</strong>
<code>  <%= @code.codeblock.html_safe %>
</code>
</p>

<%= link_to 'Edit', edit_code_path(@code) %> |
<%= link_to 'Back', codes_path %>
