<div class="container">
  
<div class="panel panel-default">
  <div class="panel-heading"><%= @code.title %></div>
  <div class="panel-body">
    <%= @code.codeblock.html_safe %>
    <hr>
    <h3> Categories :<span class="badge">  <%= @code.domain %></span></h3>
  </div>
</div>


<%= link_to 'Edit', edit_code_path(@code) %> |
<%= link_to 'Back', codes_path %>

</div>